/* common style */

* {
  box-sizing: border-box;
}
body {
  background-color: rgb(245, 248, 255);
}

.container {
  /* border: 2px solid blue; */
  width: 1140px;
  margin: 0 auto;
  padding: 0;
}

/* nav bar */

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.nav-container > ul {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  list-style: none;
}

.nav-container ul a {
  text-decoration: none;
}

.nav-text {
  color: rgb(37, 36, 50);
  font-size: 16px;
  font-weight: 700;
}

.text-second {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  font-size: 16px;
}
/* Banner Section */


.banner-content{
    height: 461px;
    width: 100%;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-end;
}

.banner-image img{
    width: 570px;
    height: 355px;
}

.banner-text h2, .card-text h2{
    color: rgb(0, 0, 0);
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 10px;
}
.colored-hading{
    color:rgb(233, 90, 8);
}

.banner-text p,.card-text p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    margin-top: 0;
    padding: 10px;
}
/* card sectin */
.card-text{
    text-align: center;
    padding: 30px;
}
.card-content-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}
.card-content{
    text-align: center;
}
.card-content button{
    background-color: rgb(233, 90, 8);;
    width: 100%;
    height: 40px;
    color: white;
    border: none;
    
}
.card-content img{
    width: 100%;
}
.card-content h3{
    color: rgb(17, 17, 17);
    font-size: 22px;
    font-weight: 700;
}

/* plants lover section */

.plants-lover-container{
    margin-top: 100px;
    position: relative;

}
.plant-lover-content{
    display: flex;
    gap: 30px;
}

.plants-image img{
    width: 540px;
    height: 597px;
    background: linear-gradient(180.00deg, rgba(103, 171, 234, 0.24),rgba(233, 90, 8, 0.6) 100%);
}

.plants-text h2{
    margin-top: 100px;
    color: rgb(0, 0, 0);
    font-size: 50px;
    font-weight: 700;
}

.plants-text ul li{
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}

.trust-image img{
    position: absolute;
    width: 266px;
    height: 266px;
    top: -120px;
    left: 400px;
}

/* latest-deal section */

.latest-deal-text h2{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
}

.latest-deal-text p{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 400;
    text-align: center;
}
.text-box-container{
    display: flex;
    gap: auto;
    width: 100%;
    justify-content: space-between;
}

.first-second{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
}

.first-text-box{
    width: 400px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/deal-bloom.png);
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}
.second-text-box{
    width: 400px;
    height: 206px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/deal-ana.png);
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}
.third-text-box{
    width: 753px;
    height: 432px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4)), url(/assets/deal-zabo.png);
    background-size: cover;
    background-position: center;
    border-radius: 17px;
}

.first-text-box h2, .second-text-box h2{
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 20px;
    font-weight: 700;
}
.first-text-box a, .second-text-box a, a{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.third-text-box{
    color: rgb(255, 255, 255);
    font-family: Noto Serif;
    font-size: 26px;
}


/* Responsive Part for 576px*/

@media screen and (max-width:576px) {
    /* nav section */
    .container{
        width: 100%;
        padding: 5px;
    }
    .hidden-phone{
        display: none;
    }
    nav img{
        width: 63px;
        height: 38px;
    }
        /* banner section */
    .container{
        width: 100%;
    }
    .banner-content{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        margin-top: auto;
    }
    .banner-text h2{
        font-size: 25px;
        width: 100%;
    }
    .banner-text p{
        font-size: 14px;
        font-weight: 400;
        width: 100%;
    }
    .banner-image img{
        width: 100%;
        height: 100%;
    }

    /* card section */
    .container{
        width: 100%;
    }
    .card-text h2{
        font-size: 25px;
    }
    .card-text p{
        font-size: 14px;
    }
    .card-content-container{
        grid-template-columns: repeat(2, 1fr);
    }

    /* plant section */
    .plants-lover-container{
        margin-top: 20px;
    }
    .trust-image img{
        display: none;
    }
    .plant-lover-content{
        flex-direction: column;
        width: 100%;

    }
    .plants-image img{
        height: 100%;
        width: 100%
    }

    .plants-text h2{
        margin-top: 20px;
        font-size: 24px;
        font-weight: 700;
    }
    .plants-text ul li{
        font-size: 14px;
    }

    /* Latest deal section */
    .text-box-container{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .third-text-box{
        width: 400px;
        height: 206px;
        font-size: 16px;
    }

    .first-second{
        height: 100%;
        /* width: 100%; */
    }
}